@page "/lookup"

<h1>Lookup Control Demo</h1>
<Toggle @bind-IsOn="IsReadOnlyMode" />
<p>Mode: @(IsReadOnlyMode ? "Read Only" : "Editable")</p>

<Lookup T="Job"
    Watermark="Lookup a Job..."
    Items="@Jobs"
    @bind-SelectedItem="SelectedJob"
    AddEntityCommand="AddJobCommand"
    IsReadOnly="IsReadOnlyMode"
    ViewEntityCommand="ViewJobCommand">
    <ItemTemplate>
        <span>@context["Name"] (@context["Title"])</span>
    </ItemTemplate>
</Lookup>

@code {
    private bool IsReadOnlyMode;
    private List<Job> Jobs { get; set; } = new();
    private Job? SelectedJob { get; set; }

    private ICommand AddJobCommand => new ActionCommand(() =>
    {
        Console.WriteLine("Add Job Command Executed");
    });

    private ICommand ViewJobCommand => new ActionCommand(() =>
    {
        Console.WriteLine($"View Job Command Executed for {SelectedJob?.Name}");
    });

    protected override void OnInitialized()
    {
        // Generate 100 fake jobs using Bogus
        var faker = new Bogus.Faker<Job>()
            .RuleFor(j => j.BarID, f => (ulong)f.IndexFaker)
            .RuleFor(j => j.Title, f => f.Name.JobTitle())
            .RuleFor(j => j.Name, f => f.Company.CompanyName());

        Jobs = faker.Generate(100);
    }
}
